.label{
    display: flex;
}

span.em-style{
    display: flex;
    margin-right: 6px;
    justify-content: flex-start;
    color: #131316;
    cursor: pointer;
    font-weight: 600;
} 

span.em-style:active{
    border-bottom: 4px solid #119e5f;
    cursor:pointer; 
}

label{
    margin: 10px 0px 0px 0px;
    color: #131316;
    padding-bottom: 0px;
    font-size: 14px;
}
